binh/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/xphu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/xphu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="idacc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetail" nillable="true" type="tns:UserDetail" />
  <xs:complexType name="Option">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deadlinetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idopt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Option" nillable="true" type="tns:Option" />
  <xs:complexType name="Vote">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idacc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idopt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idvote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vote" nillable="true" type="tns:Vote" />
</xs:schema>