binh/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57820/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/xphu" />
  <xs:element name="DsAcount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DsAcountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DsAcountResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q1:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q2:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q3:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sua">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q4:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Xoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q5:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IThemOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idopt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealinetime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IThemOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IThemOptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="xoa" nillable="true" type="q6:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaOptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="vote" nillable="true" type="q7:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>